<section>
  <h2>Create New Post</h2>

  <form class="new-post-form">
    <div>
      <label class="button btn btns" for="post-title">Title</label>
      <input
        class="button btn btns space"
        type="text"
        id="post-title"
        name="post-title"
      />
    </div>
    <div>
      <label class="button btn btns" for="post-text">Post</label>
      <input class="button btn btns space" id="post-text" name="post-text" />
    </div>
    <button id="submitPost" type="submit" class="btn">Create</button>
  </form>
</section>