{{! Login form }}
<form class="login-form">
  <div>
    <label class="button btn btns" for="email-login">email:</label>
    <input class="button btn btns space" type="text" id="email-login" />
  </div>
  <div>
    <label class="button btn btns" for="password-login">password:</label>
    <input class="button btn btns space" type="password" id="password-login" />
  </div>
  <div>
    <button class="button btn" type="submit">login</button>
  </div>
  <div>
    <a class="button btn" href="/signUp">Click Here to create a new account.</a>
  </div>
</form>

<script src="/javascript/login.js"></script>