{{!-- signup form --}}
<form class="signup-form">
  <div>
    <label class="button btn btns" for="username-signup">username:</label>
    <input class="button btn btns space" type="text" id="username-signup" />
  </div>
  <div>
    <label class="button btn btns" for="email-signup">email:</label>
    <input class="button btn btns space" type="text" id="email-signup" />
  </div>
  <div>
    <label class="button btn btns" for="password-signup">password:</label>
    <input class="button btn btns space" type="password" id="password-signup" />
  </div>
  <div>
    <button class="button btn" type="submit">signup</button>
  </div>
</form>

<script src="/javascript/signUp.js"></script>