html {
  background-color: #5ba250;
}
header {
  background-color: #105229;
  padding: 15px;
}
.button {
  background-color: #4a5e0f;
  border: 0;
  padding: 1%;
  color: white;
  font-weight: bold;
  transition: background-color 0.1s;
  cursor: pointer;
  border-radius: 5px;
  text-decoration: none;
  margin-left: 7px;
}
h1 a {
  background-color: #4a5e0f;
  border: 0;
  padding: 1%;
  color: white;
  font-weight: bold;
  transition: background-color 0.1s;
  cursor: pointer;
  border-radius: 5px;
  text-decoration: none;
}
main,
ol {
  padding: 20px;
}
li {
  margin: 25px;
}
.title {
  background-color: #105229;
  border: 3;
  border-color: black;
  padding: 1%;
  color: white;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
}
::marker {
  color: #5ba250;
}
.meta {
  background-color: #78a236;
  border: 20px;
  padding: 1%;
  color: white;
  cursor: pointer;
  text-align: center;
}
footer {
  text-align: center;
  padding: 25px;
}
.foot {
  text-decoration: none;
  font-size: xx-large;
  background-color: #105229;
  padding: 10px;
  color: white;
  border-radius: 5px;
}
.titleName {
font-size: xx-large;
text-decoration: none;
color: white;
padding-right: 30px;
}
.created{
  text-decoration: none;
  color: white;
font-size: x-small;
}
.comment{
  text-decoration: none;
  color: white;
  font-size: medium;
}